@charset "utf-8";

/*Indice
 * 
 * 1 - Customizações do HTML
 * 2 - Containers
 * 3 - Botões
 * 4 - Formatadores de Tela
 * 5 - Formularios
 * 
 */

/* Customizações do HTML */
html{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
}
body{
	background: #090;
}
a{
	text-decoration: none;
}
fieldset{
	width: 700px;
	margin: auto;
	margin-bottom: 10px;
}


/* Containers */
#container{
	position: absolute;
	top: 30px;
	left: 0px;
	text-align: center;
	width: 100%;	
}

.container_secao{
	min-height: 400px;
	background: #FFF;
	padding-top: 30px;
	padding-bottom: 20px;
}

.moldura_produtos{
	float: left;
	margin: 10px;
	margin-bottom: 30px;
}

#tabela_floriculturistas{
	width: 90%;
}
#tabela_floriculturistas th{
	background-color: #3DAC3B;
}
#tabela_floriculturistas tr:nth-child(odd) td{
	background-color: #3DAC3B;
}
#tabela_floriculturistas tr:nth-child(even) td{
	background-color: #AFFEAD;
}

/* Botões */
.big_button{
	color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: rgb(28, 184, 65);
	width: 200px;
	height: 100px;
	font-size: 24px;
	cursor: pointer;	
}
.accept_button{
	color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: rgb(28, 184, 65);
	width: 100px;
	height: 30px;
	font-size: 12px;
	cursor: pointer;	
}
.refuse_button{
	color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: #9C0909;
	width: 100px;
	height: 30px;
	font-size: 12px;
	cursor: pointer;	
}

/*Formatadores de Tela*/

#lista_produtos{
	display: inline-block;
}
.separador{	
	height: 400px;
	width: 100%;
}
#separador1{
	background: url("/assets/fundo_001.jpg") fixed;
}
#separador2{
	background: url("/assets/fundo_002.jpg") fixed;
}
#logo{
	background: #fff;
	margin-bottom: 30px;	
}
/* Formularios */
.check_produtos{
	width: 100px;
	height: 20px;
}
.alinhar{
	text-align: left;
}
.alinhar td{
	width: 400px;
}
