<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
	
<head>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<title>Módulo Ceres</title>
</head>
<body>

<div id="container">
	<div id="logo">
		<%= image_tag "logo.png" %>
	</div>
	<!-- A div container é fechada no footer -->
